<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
  <title>UPCLOVE | Add Friend</title>


<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/prettyPhoto.css">
<link rel="stylesheet" href="css/price-range.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/responsive.css">
<!--[if lt IE 9]>
<script src="/js/html5shiv.js"></script>
<script src="/js/respond.min.js"></script>
<![endif]-->
<link href="images/ico/favicon.ico" rel="shortcut icon">
<link href="images/ico/apple-touch-icon-144-precomposed.png" sizes="144x144" rel="apple-touch-icon-precomposed">
<link href="images/ico/apple-touch-icon-114-precomposed.png" sizes="114x114" rel="apple-touch-icon-precomposed">
<link href="images/ico/apple-touch-icon-72-precomposed.png" sizes="72x72" rel="apple-touch-icon-precomposed">
<link href="images/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
<!--/head-->
</head>
<body>
<header id="header"><!--header--> </header>
<div class="header_top"><!--header_top-->
<div class="container">
<div class="row">
<div class="col-sm-5">
<div class="contactinfo">
<ul class="nav nav-pills">
<li><a href="http://www.falabella.com.pe/falabella-pe/category/cat2190464/?sid=H3842"><img src="logosaga.gif">Saga Falabella</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!--/header_top-->
<h1>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Choose Friend</h1>
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="signup-form"><!--sign up form-->



<a class="btn btn-success btn-large" href="javascript:add_friend_dialog();"><i class="icon-white icon-heart"></i> Choose Friend</a>



</div>
<!--/sign up form--> </div>
<div class="col-sm-4 col-sm-offset-1">
<div class="login-form"><!--login form-->
<form action="#"> <a href="http://www.falabella.com.pe/falabella-pe/category/cat2190464/?sid=H3842"><img src="armawishlist.jpg"></a> </form>
</div>
<!--/login form--> </div>
</div>
</div>
<!--/form-->&nbsp;<footer id="footer">
</footer>
<div class="footer-bottom">
<div class="container">
<div class="row">
<p class="pull-left">Copyright © 2015 IngenioWeb Inc. All
rights reserved.</p>
<p class="pull-right">Designed by IngenioWeb</p>
</div>
</div>
</div>
<!--/Footer-->

 <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '<%= @client_id %>',
        xfbml      : true,
        version    : 'v2.1'
        });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    function add_friend_dialog()
    {
      
      /*
      FB.ui({
        method: 'send',
        link: '<%= @url  %>',
      }, function(x){
          if (x!=null){
            window.location = '<%= thanks_url  %>';
          }
      });
    }
*/
    



      FB.api('https://graph.facebook.com/', 'post', {
          id: '<%= @url  %>',
          scrape: true
      }, function(response) {
        console.log(response)
          FB.ui({
              method: 'send',
              link: '<%= @url  %>'
          }, function(x){
            console.log(x)
          if (x!=null){
            window.location = '<%= thanks_url  %>';
          }
      });
      });

 }

  </script>


<script src="/js/jquery.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>
</body></html>