<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
	<title>UPCLOVE | Catalog</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
           
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png"><!--/head--></head>
<body>
	<header id="header"><!--header-->
		</header><div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@ingenioweb.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/sagafalabella?fref=ts"><i class="fa fa-facebook"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							Catálogo de Productos
						</div>

					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<!--/header-bottom-->
	<!--/header-->
		
	<section>
		</section><div class="container">
			<div class="row">
			
		
					<div class="category-tab"><!--category-tab-->
						<div style="text-align: right;" class="col-sm-12">
							<ul class="nav nav-tabs">



		<% @categories.each do |p| %>
		<li><a href="<%= catalog_url(slug:p.slug) %>"><%= p.name %></a></li>
		<% end %>
<!--		
								<li class="active"><a href="#Ropa" data-toggle="tab">Ropa</a></li>
								<li><a href="#Peluche" data-toggle="tab">Peluche</a></li>
								<li><a href="#Calzado" data-toggle="tab">Calzado</a></li>
								<li><a href="#Perfumes" data-toggle="tab">Perfumes</a></li>
								<li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li> -->
							</ul>
						</div>





						<div class="tab-content">
							<div class="tab-pane fade active in" id="Ropa">


					<% @products.each.with_index do |p, index| %>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center"><div style="text-align: center;">
												<img src="/<%= p.photo_path %>" alt="">
												</div><h2>$56</h2>
												<p><%= p.title %></p>
												<a href="<%= addproduct_url(slug:p.slug) %>">Add Wishlist</a>
											</div>
											
										</div>
									</div>
								</div>
							<% end %>
							</div>
						</div>


					</div><!--/category-tab-->
					
	
					
				</div>
			</div>
		
		<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<ul class="list-inline item-details">
					<li><a href="http://themifycloud.com">ThemifyCloud</a></li>
					<li><a href="http://themescloud.org">ThemesCloud</a></li>
				</ul>
			</div>
		</div>
	
	
	<footer id="footer"><!--Footer-->
		</footer><div class="footer-top">
			
		
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2015 IngenioWeb Inc. All
rights reserved.</p>
					<p class="pull-right">Designed by IngenioWeb</p>
				</div>
			</div>
		</div>
		
	<!--/Footer-->
	

  
    <script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/price-range.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
</div></body></html>