<!DOCTYPE html>
<html lang="en"><head>
<title>UPCLOVE | MyWishList</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="description">
<meta content="" name="author">

<meta property="fb:app_id" content="1543143812635523" />
<meta property="og:title" content="SagaFalabella - Wishlist" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://upclove-macfri1.c9.io/armawishlist.jpg" />
<meta property="og:description" content="Genera tu wishlist y enviaselo a un amigo para que revise tu regalo deseado" />
<meta property="og:url" content="<%= request.original_url %>" />


<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/responsive.css"><!--[if lt IE 9]>
<script src="/js/html5shiv.js"></script>
<script src="/js/respond.min.js"></script>
<![endif]-->

<link href="/images/ico/favicon.ico" rel="shortcut icon">
<body>
<header id="header"><!--header--> </header>
<div class="header_top"><!--header_top-->
<div class="container">
<div class="row">
<div class="col-sm-5">
<div class="contactinfo">
<ul class="nav nav-pills">
<li><a href="http://www.falabella.com.pe/falabella-pe/category/cat2190464/?sid=H3842"><img src="/logosaga.gif">Saga Falabella</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!--/header_top-->
<h1>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; My WishList</h1>
<h4>A tu amigo quiere que le engr&iacute;s con estos productos por el día de San Valentín :3</h4>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="signup-form"><!--sign up form-->

<div class="tab-content">
	<div class="tab-pane fade active in" id="Ropa">
    <% @wishlist.wishlist_detail.each do |p| %>
		<div class="col-sm-5">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center"><div style="text-align: center;">
						<img src="/<%= p.product.photo_path %>" alt="">
						</div><h2>$56</h2>
						<p><%= p.product.title %></p>
					</div>
					
				</div>
			</div>
		</div>
	<% end %>
	</div>
</div>
</div>
<!--/sign up form--> </div>
<div class="col-sm-4 col-sm-offset-1">
<div class="login-form"><!--login form-->
<form action="#"> <a href="http://www.falabella.com.pe/falabella-pe/category/cat2190464/?sid=H3842"><img src="/armawishlist.jpg"></a> </form>
<br />
<br />
<br />
<button class="btn btn-default" ><a href="<%= facebook_path  %>">Login with Facebook</a></button>
</div>
<!--/login form--> </div>
</div>
</div>
<!--/form--> <br><br>
<br>
<footer id="footer"></footer><br>
<div class="footer-bottom">
<div class="container">
<div class="row">
<p class="pull-left">Copyright © 2015 IngenioWeb Inc. All
rights reserved.</p>
<p class="pull-right">Designed by IngenioWeb</p>
</div>
</div>
</div>
<!--/Footer-->

</body></html>