<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<title>UPCLOVE | Thanks</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/prettyPhoto.css">
<link rel="stylesheet" href="/css/price-range.css">
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/responsive.css">
<!--[if lt IE 9]>
<script src="/js/html5shiv.js"></script>
<script src="/js/respond.min.js"></script>
<![endif]-->
<link href="/images/ico/favicon.ico" rel="shortcut icon">
<link href="/images/ico/apple-touch-icon-144-precomposed.png" sizes="144x144" rel="apple-touch-icon-precomposed">
<link href="/images/ico/apple-touch-icon-114-precomposed.png" sizes="114x114" rel="apple-touch-icon-precomposed">
<link href="/images/ico/apple-touch-icon-72-precomposed.png" sizes="72x72" rel="apple-touch-icon-precomposed">
<link href="/images/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
<!--/head-->
</head>
<body>
<header id="header"><!--header--> </header>
<div class="header_top"><!--header_top-->
<div class="container">
<div class="row">
<div class="col-sm-5">
<div class="contactinfo">
<ul class="nav nav-pills">
<li><a href="http://www.falabella.com.pe/falabella-pe/category/cat2190464/?sid=H3842"><img src="logosaga.gif">Saga Falabella</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!--/header_top-->
<h1>&nbsp;&nbsp; Gracias por participar</h1>
<h2>&nbsp;&nbsp;&nbsp; A tu amigo se le envio, a su
inbox, el wishList con los productos de Saga Falabella que deseas.<!--/sign up form--></h2><br><br>
<div class="container">
<div class="row">
<div class="col-sm-4 col-sm-offset-1">
<div class="login-form"><!--login form-->
<div style="text-align: center;"><form action="#"><div style="text-align: center;"> <a href="http://www.falabella.com.pe/falabella-pe/category/cat2190464/?sid=H3842"><img style="width: 437px; height: 162px;" src="logoSagaFalabella.jpg"></a><br></div>
<a href="http://www.falabella.com.pe/falabella-pe/category/cat2190464/?sid=H3842"><br></a>
</form></div>
</div>
<!--/login form--> </div>
</div>
</div>
<!--/form--> <br><br><br><br><br><br><br><br><br><br><br><br><br><footer id="footer">
</footer>
<div class="footer-bottom">
<div class="container">
<div class="row">
<p class="pull-left">Copyright © 2015 IngenioWeb Inc. All
rights reserved.</p>
<p class="pull-right">Designed by IngenioWeb</p>
</div>
</div>
</div>
<!--/Footer-->
<script src="/js/jquery.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>
</body></html>