<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>UPCLOVE | WishList</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/prettyPhoto.css" rel="stylesheet">
<link href="/css/price-range.css" rel="stylesheet">
<link href="/css/animate.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="/images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
<!--/head-->
</head>



<body>
<header id="header"><!--header--> </header>
<div class="header_top"><!--header_top-->
<div class="container">
<div class="row">
<div class="col-sm-5">
<div class="contactinfo">
<ul class="nav nav-pills">
<li><a href="http://www.falabella.com.pe/falabella-pe/category/cat2190464/?sid=H3842"><img src="logosaga.gif">Saga Falabella</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!--/header_top-->
<h1>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; WishList</h1>
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="signup-form"><!--sign up form-->

<form method="post" action="<%= addwishlist_path  %>">
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>




<div class="tab-content">
	<div class="tab-pane fade active in" id="Ropa">
	<% @products.each.with_index do |p, index| %>
		<div class="col-sm-5">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center"><div style="text-align: center;">
						<img src="/<%= p.photo_path %>" alt="">
						</div><h2>$56</h2>
						<p><%= p.title %></p>
						<a href="<%= removeproduct_url(slug:p.slug) %>">Remove</a>
					</div>
					
				</div>
			</div>
		</div>
	<% end %>
	</div>
</div>

<input type="submit">
</form>

</div>
<!--/sign up form--> </div>
<div class="col-sm-4 col-sm-offset-1">
<div class="login-form"><!--login form-->
<form action="#"> <a href="http://www.falabella.com.pe/falabella-pe/category/cat2190464/?sid=H3842"><img src="armawishlist.jpg"></a> 
<br />
<br />

<a href="<%= catalog_url %>">Back to Catalog</a>
</form>
</div>
<!--/login form--> </div>
</div>
</div>
<!--/form-->&nbsp;<footer id="footer">
</footer>
<div class="footer-bottom">
<div class="container">
<div class="row">
<p class="pull-left">Copyright © 2015 IngenioWeb Inc. All
rights reserved.</p>
<p class="pull-right">Designed by IngenioWeb</p>
</div>
</div>
</div>
<!--/Footer-->
<script src="js/jquery.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
</body></html>